<!doctype html>
<html>
<head>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <!-- Bootstrap core CSS -->
    <!--<link href="../../dist/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->

    <!-- Custom styles for this template -->
    <!--<link href="navbar.css" rel="stylesheet">-->

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- head.ejs -->

    <title>Calendar Application</title>
    <meta charset="UTF-8">
    
    <script data-require="jquery@*" data-semver="2.1.4" src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link data-require="bootstrap-css@3.3.6" data-semver="3.3.6" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <!--<script src="js/login_signup_validation.js"></script>-->

    
    <style>
        body        { padding-top:80px; }
    </style>



</head>
<body>



<div class="cta-mail">
    
    <div class="container text-center">
        <h2>Password Recovery!?</h2>
    <hr/>
    
                    <div>
                    
                    	<!-- RESTORE FORM -->
	<form action="/retrievePassword" method="post">
		<div class="form-group">
			<label>New Password:</label>
			<input id='new_password' type="password" style="max-width:250px; margin: 0 auto;float: none;" class="form-control input-lg text-center" name="new_password">
			<label>Retype New Password:</label>
			<input id='compare_new_password' type="password" style="max-width:250px; margin: 0 auto;float: none;;" class="form-control input-lg text-center" name="new_password">
		</div>
	</form>
	<div style='display:none;' id='message_retrieve' class="alert alert-danger"></div>
	<button id='ajax_retrieve_password' type="submit" class="btn btn-success">Set new password</button>
	<hr/>
                    
                </div>

        </div>
        <!-- End MailChimp Signup Form -->
    </div>

<script>


$("#ajax_retrieve_password").click(function(){
    
    
  console.log("Res: "+ $('#new_password').val());
  
  
    if($('#new_password').val() == $('#compare_new_password').val()  ){
    $.post("/create_new_password",
    {
        new_password: $('#new_password').val()
        //alert($('#user_name_ajax').val())
    },
    
    function(response, status,result){
        
        document.write(response);
        
    });
    }
    else{
        alert("passwords in fields have to match!");
        
    }
});
    
</script>


</body>
</html>