<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Examplme</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
  <h2>WELCOME</h2>
  <!-- Trigger the modal with a button -->
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_LOGIN">LOGIN</button>
  <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal_register">REGISTER</button>
  
  
  
  <!-- Modal LOGIN -->
  <div class="modal fade" id="myModal_LOGIN" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
            
            
            
          <p>Login</p>
            <form action="modules/login_ajax.php" method="post">
                    Username:<br /> 
                    <input type="text" id="l_user_name_ajax" name="username"/> 
                    <br /><br /> 
                    Password:<br /> 
                    <input type="password" id="l_password_ajax"  name="password" value="" />
                    <br /><br /> 
            </form> <br/>
          
          
          <button type="button" class="btn btn-info btn-lg" id="ajax_login">Login</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  <!-- Modal REGISTER -->
  <div class="modal fade" id="myModal_register" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Register</h4>
        </div>
        <div class="modal-body">
            
            
            
                <h1>Register</h1>
                <form action="register.php" method="post">
                    Username:
                    <br />
                    <input type="text" id="r_user_name_ajax" name="username" value="" />
                    <br />
                    <br /> E-Mail:
                    <br />
                    <input type="text" id="r_email_ajax"name="email" value="" />
                    <br />
                    <br /> Password:
                    <br />
                    <input type="password" id="r_password_ajax" name="password" value="" />
                    <br />
                    <br />
                </form><br/>
          
          
          <button type="button" class="btn btn-info btn-lg" id="ajax_register">Register</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
<script>

    //REQUEST FOR LOGIN
$("#ajax_login").click(function(){
    $.post("/login_ajax",
    {
        username: $('#l_user_name_ajax').val(),
        password: $('#l_password_ajax').val()
        //alert($('#user_name_ajax').val())
    },
    function(response, status,result){
      response = JSON.parse(response);
       
        if(response.key=="pass"){
          //CODE LOGIN SUCCESFULL
            window.location = '/authorised_zone';
        }
        else{
          //CODE IF LOGIN UNSUCCESFULL
          console.log(response)
          console.log(response.key)
             alert("failed to login");
        }
        
    });
});

    //REQUEST FOR REGISTER
$("#ajax_register").click(function(){
    $.post("/register_ajax",
    {
        username: $('#r_user_name_ajax').val(),
        password: $('#r_password_ajax').val(),
        email: $('#r_email_ajax').val()
        //alert($('#user_name_ajax').val())
    },
    function(response, status,result){
      console.log(response);
      response = JSON.parse(response);
       console.log(response.key);
        if(response.key=="pass"){
          //CODE REGISTER SUCCESFULL
            window.location = '/authorised_zone';
        }
        else if(response.key=="username_exists"){
          alert("username already exists");
        }
        else if(response.key=="email_exists"){
          alert("E-mail already taken");
        }
        else if(response.key=="email_fail"){
          alert("invalid e-mail");
        }
        else{
          //CODE DATABASE ERROR

             alert(response.key);
        }
        
    });
});



    
</script>
</body>
</html>